/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: DOWNLOAD_GENOMES {
        publishDir = [
            path: { "${params.outdir}/downloadedGenomes" },
            mode: 'copy',
            pattern: "**/allDownload/*.fna"
        ]
    }
    withName: MAKE_MASH {
            publishDir = [
                path: { "${params.outdir}/mashFiles" },
                mode: 'copy',
                pattern: "*.fna.msh"
            ]
        }
    withName: MAKE_DATABASE {
            publishDir = [
                path: { "${params.outdir}/mashDatabase" },
                mode: 'copy',
                pattern: "*.msh"
            ]
        }

    withName: SPECIES_ID {
            publishDir = [
                path: { "${params.outdir}/resultsByIsolate" },
                mode: 'copy',
                pattern: "*.{txt,log}"
            ]
        }
    withName: COMBINED_OUTPUT {
            publishDir = [
                path: { "${params.outdir}/combinedOutput" },
                mode: 'copy',
                pattern: "*.{txt,log}"
            ]
        }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }

}
